.ProjectContainer {
  margin: 25px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ProjectTitle {
  font-family: Lato-Bold;
  color: #000000;
}

.ProjectDescription {
  font-family: Lato-Regular;
  color: #696969;
}

.ProjectImage:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}
