.Landing {
}

.LandingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vw;
  margin: 10vw 5vw 15vw 0vw;
}

.LandingText {
  width: 50%;
  height: 250px;
}

.Hi {
  font-family: Lato-Bold;
}

.LandingImage {
  align-items: center;
  justify-content: center;
  width: 50%;
}

.Computer {
  position: relative;
  height: 25vw;
}

.Cat {
  position: absolute;
  height: 17vw;
  top: 19vw;
  animation: ani 5s infinite;
}

@keyframes ani {
  0% {
    left: 59vw;
  }
  50% {
    left: 62vw;
  }
  100% {
    left: 59vw;
  }
}

@media (max-width: 900px) {
  .LandingContainer {
    display: none;
  }
}
