.Navbar {
}

.NavbarContainer {
  display: flex;
  flex-direction: row;
  margin: 40px 55px;
  justify-content: space-between;
  align-items: center;
}

.LinksContainer {
  display: flex;
  flex-direction: row;
}

.Vicki {
  font-family: Lato-Bold;
  font-size: 35px;
  color: #000000;
}

.Vicki:hover {
  color: #696969;
}

.NavLink {
  font-family: Lato-Bold;
  font-size: 15px;
  margin: 20px;
  color: #696969;
}

a {
  text-decoration: none;
}

.NavLink:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .NavbarContainer {
    flex-direction: column;
    align-items: center;
  }

  .LinksContainer {
    margin: 30px;
  }
}
